#login-form {
    display: 'none'
}

h1, h2, h3 {
    text-align: center;
}

input {
    font-size: 2rem;
}

button {
    display: 'block';
    font-size: 12px;
}

img {
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.chips img {
    max-height: 100px;
    max-width: 100px;
}

#game-center, #player-turn-buttons, #double-btn, #split-btn, #new-game, #winner {
    display: none;
}