/* header {
    display: block;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
} */

#login-form {
    display: 'block'
}

h1, h2, h3 {
    text-align: center;
}

input {
    font-size: 2rem;
}

button {
    font-size: 12px;
}

img {
    max-height: 200px;
    max-width: 100px;
}

#cards-pic, #chips-pic {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#game-center, #player-turn-buttons, #double-btn, #split-btn, #new-game {
    display: none;
}